.root {
  margin: 15px;
  background-color: skyblue
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.leagueMenu tr {
  cursor: pointer;
}

td:last-child{
  text-align: left;
  vertical-align: top;
}


table {
  width: 100%;
  
}
th.league {
  width: 15%
}

.active-league {
  background-color: gold;
}
  
  .verticalLine {
    height:100px;
    border-left: 2px solid purple;
  }